{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Entrar {% endblock %}

{% block main %}
<h1 style="font-size:10em;" align="center">ID</h1>
<h5 align="center" style="margin-top:-20px;">Indicadores Diários </h5>
<div class="container" align="center" style="margin-top:-2%;">
    <body>
  <div class="container" >
    <div class="row" >
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">LOGIN</h5>
            <form class="form-signin" method="post">
              <div class="form-label-group"align="center">
                {% csrf_token %}
                  {{ form.as_p }}
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</div>
{% endblock %}