{% extends 'base.html' %}

{% block title %}Seja Bem Vindo{% endblock %}

{% block main %}

<div class="shadow-lg p-3 mb-5 bg-white rounded" align="center">
    <h2>Tem certeza que deseja deletar</h2> <h1>{{ item.nome_item }} ?</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit"class="btn btn-danger">Delete</button>
        <a href=javascript:history.back() class="btn btn-danger">Voltar</a>
      </form>
</div>

{% endblock %}